/* Basic selectors - element/tag, grouping, nested, Univarsal, id/class, attribute, pseudo element(::), pseudo class(:) */
:root {
    --background-color: #f4f4f4;
    --primary-color: #4caf50;
    --secondary-color: #fff;
    --card-background-color: #fff;
    --card-shadow: rgba (0,0,0,0.2);
    --padding: 0.5rem;
    --margin: 0.5rem;
}
body {
    background-color: var(--background-color);
    color: #333;
    font-family: roboto, sen-serif;
    margin: 0;
    padding: 0;
}

h1,
h2 {
    color: var(--primary-color);
}

 ul {
    list-style: none;
}

input,
select,
textarea {
    width: 100%;
    padding: 0.8rem;
    margin: 0.5rem 0;
    border-radius: 0.5rem;
    box-sizing: border-box;
}

.card {
    background-color: var(--card-background-color);
    border-radius: 0.5rem;
    box-shadow: 0 0.2rem 0.4rem var(--card-shadow);
    margin: 1.2rem;
    padding: 1.2rem;
    box-sizing: border-box;
}

button {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    padding: 0.8rem 1.6rem;
    margin: 0.8rem 0;
    border-radius: 0.5rem;
    cursor: pointer;
}

button:hover{
    background-color: #45a049;
}

/*header starts here*/
header {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center;
    padding: 1.5rem 0rem;
    position: sticky;
    top: 0;
}
nav ul {
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
nav ul li{
    margin: 0 0.8rem;
}
nav ul li a {
    color: var(--secondary-color);
    text-decoration: none;
    font-weight: bold;
}
/*header ends here*/

/*main starts here*/

main {
    width: 80%;
    margin: auto;
    padding: 1.2rem;
}

.intro {
    height: 85vh;
    background-image: url(Images/cover\ photo.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.intro__title {
    font-size: 2rem;
    background-color: white;
    padding: 0.5rem;
}

.intro__description {
    color:white;
    font-size: 1.2rem;
}

#about {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#Skills {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

table {
    width: 100%;
    margin: 1.2rem;
    border-collapse: collapse;
}

table,
th,
td {
    border: 1px solid #ddd;
    padding: 0.5rem;
}

th {
    background-color: #f2f2f2;
}

#Contact h2 {
    text-align: center;
}

/*main ends here*/

/*footer starts here*/
footer {
    background-color: var(--primary-color);
    color: var(--secondary-color);
    text-align: center; 
    width: 100%;
    padding: 0.5rem 0;
    display: flex;
    justify-content: space-evenly;
    /*position: fixed;
    bottom: 0;*/
}

.copyright {
    margin-bottom: -1rem;
}

.social-media ul {
   margin-top: -1rem;
   display: flex;
   justify-content: center;
   gap: 0.5rem;
   margin-left: 0; 
   padding: 0;
}

.social-media h3 {
    text-align: center;
}

.social-media a {
    color: var(--secondary-color);
    font-size: 1.2rem;
    text-decoration: none;
    margin: 0 0.5rem;
}
/*footer ends here*/

/*responsiveness starts here*/
@media screen and (max-width: 1200px) {
    
}

@media screen and (max-width: 900px) {
    .intro {
        height: 30vh;
        background-image: none;
        text-align: center;
    }

    .intro__description {
        color: black;
        font-size: 1rem;
    }
}

@media screen and (max-width: 768px) {
    footer {
        flex-direction: column;
    }
}

@media screen and (max-width: 600px) {
    
}

/*responsiveness ends here*/